/* tntvideos */
[data-player], [data-embed] { position: relative; }
[data-embed] .play {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
[data-player] .close,
[data-embed] .close {
	background-color: #00a5be;
	color: #fff;
	padding: 11px;
	text-transform: uppercase;
}
[data-player] .close:hover,
[data-embed] .close:hover {
	background-color: #464646;
	color: #fff;
}
[data-embed] .close {
	position: absolute;
	top: 0;
	right: 0;
}
[data-embed] .close i:before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* Youtube lazyload styles */
.youtube {
	position: relative;
	cursor: pointer;
	width: 100%;
	font-size: 0;
}
.youtube[class*="elem-"] {
	width: 440px;
}
.youtube:before,
.youtube:after {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.youtube:before {
	content: "";
	background-color: #fff;
	width: 40px;
	height: 40px;
}
.youtube:after {
	font-size: 70px;
	color: #4d4d4d;
	font-family: "fontello";
	font-weight: 400;
	margin: 0;
	font-style: normal;
	content: "\e80e";
}
.youtube:hover:after { color: #ff0000; }
.youtube.active:before, .youtube.active:after {	display: none; }
